# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [32]:
import pandas as pd
import numpy as np
from urllib.request import urlretrieve

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [4]:
urlretrieve('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv', '../../../data/cars_one.csv')
urlretrieve('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv', '../../../data/cars_two.csv')

('../../../data/cars_two.csv', <http.client.HTTPMessage at 0x2af6a487040>)

   ### Step 3. Assign each to a variable called cars1 and cars2

In [5]:
cars_one = pd.read_csv('../../../data/cars_one.csv')
cars_two = pd.read_csv('../../../data/cars_two.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [11]:
cars_one.dropna('columns', inplace=True)

C:\Users\Femi\AppData\Local\Temp/ipykernel_21468/1671930699.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  cars_one.dropna('columns', inplace=True)

### Step 5. What is the number of observations in each dataset?

In [24]:
dict = {'cars1':cars_one.shape[0], 'cars2':cars_two.shape[0]}
observations = pd.DataFrame(dict, index=['observations'])
observations

              cars1  cars2
observations    198    200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [31]:
cars = pd.concat([cars_one, cars_two])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [36]:
owners = pd.Series(np.random.randint(15000, 73000, cars.shape[0]))
owners

0      23813
1      18830
2      66189
3      55249
4      30291
       ...
393    47822
394    21057
395    68063
396    39046
397    38146
Length: 398, dtype: int32

### Step 8. Add the column owners to cars

In [39]:
cars['owners'] = owners
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 199
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
 9   owners        398 non-null    int32
dtypes: float64(2), int32(1), int64(5), object(2)
memory usage: 32.6+ KB