# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [59]:
import pandas as pd
import numpy as np
import seaborn as sns

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [60]:
data = sns.load_dataset('iris')
iris = pd.DataFrame(data)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Step 4. Create columns for the dataset

In [61]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Step 5.  Is there any missing value in the dataframe?

In [62]:
iris[iris.isnull()].count()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [63]:
slice = iris.loc[9:28, 'petal_length'].apply(lambda x:np.nan)
iris.loc[9:28, 'petal_length'] = slice

### Step 7. Good, now lets substitute the NaN values to 1.0

In [64]:
slice = 1.0
iris.loc[9:28, 'petal_length'] = slice

### Step 8. Now let's delete the column class

In [65]:
del iris['species']

### Step 9.  Set the first 3 rows as NaN

In [66]:
iris.iloc[:3, :] = iris.iloc[:3, :].apply(lambda x:np.nan)

### Step 10.  Delete the rows that have NaN

In [67]:
iris.dropna(axis=0, how='all', inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2

### Step 11. Reset the index so it begins with 0 again

In [68]:
iris.reset_index(inplace=True, drop=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.1           1.5          0.2
1           5.0          3.6           1.4          0.2
2           5.4          3.9           1.7          0.4
3           4.6          3.4           1.4          0.3
4           5.0          3.4           1.5          0.2

### BONUS: Create your own question and answer it.

In [71]:
iris.iloc[1:4, 1:3] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.1           1.5          0.2
1           5.0          NaN           NaN          0.2
2           5.4          NaN           NaN          0.4
3           4.6          NaN           NaN          0.3
4           5.0          3.4           1.5          0.2

In [72]:
iris.fillna(1, inplace=True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.1           1.5          0.2
1           5.0          1.0           1.0          0.2
2           5.4          1.0           1.0          0.4
3           4.6          1.0           1.0          0.3
4           5.0          3.4           1.5          0.2